@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-brand-blue: #0062bd;
  --color-brand-dark: #030712;
  --color-brand-light: #f8fafc;

  /* custom animation */
  --animate-float: float 6s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
